/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/*GOOGLE FONT*/
body {
    font-family: 'Changa', sans-serif;
    overflow-y: hidden;
}

/*CONVERTING VIDEO TO FULLSCREEN*/
video {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

/*BUTTON STYLES AND ANIMATION ON HOVER*/
.btn {
    outline: 0.25rem #239AD6 solid;
    border-radius: 1rem;
    background-color: rgb(255, 255, 255);
    border: none;
    color: #239AD6;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
}

.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.btn:hover span {
    padding-right: 25px;
}

.btn:hover span:after {
    opacity: 1;
    right: 0;
}

/*BOX P STYLES AND ANIMATION TO GROW*/
p {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    background: rgb(255, 255, 255);
    -webkit-animation: createBox .5s;
            animation: createBox .5s;
    width: 100vw;
    height: 100vh;
}

@-webkit-keyframes createBox {
    from {
        -webkit-transform: scale(0);
                transform: scale(0);
    }

    to {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@keyframes createBox {
    from {
        -webkit-transform: scale(0);
                transform: scale(0);
    }

    to {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

/*CONTAINER FOR THE WHITE TRANSITION*/
#white-transition {
    display: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

/*SPINNER STYLES*/
#spinner {
    background-color: #033470;
    width: 100%;
    height: 100vh;
}