.line {
  display:block;
  position:absolute;
  top:17%;
  left:50%;
  border-bottom:4px solid #9c9c9c;
  width:0%;
  text-align:center;
  animation: line 2.3s linear forwards;
}
.line-2 {
  top:16.6%;
  border-bottom:4px solid #cecece;
}
@keyframes line {
  from {
    left:0%;
    width:0%;
  }
  to {
    left:0%;
    width:100%;
  }
}
.ocultar {
  display: none;
}
.enterpostit{
  position: absolute;
  top:16%;
  right:-70%;
  animation: rightocenter 1.5s linear forwards;
}
@keyframes rightocenter {
 from {
  right:-70%;
 }
 to {
   right:26%;
   top:14%;
 }
}